xsd/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="loginParams">
		<xs:complexType>
			<xs:attribute name="username" type="xs:string" use="required" />
			<xs:attribute name="password" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
</xs:schema>